SELECT
       [Code]
      ,[IssueDate]
      ,[PartnerID]
      ,[Sex]
      ,[Age]
      ,[DayFromLastVisit]
      ,[CreditCondition]
      ,[LifeTimeDay]
      ,[LombardCategoryID]
      ,[CityID]
      ,[SumAmountzb]
      ,[AVGAmountzb]
      ,[ZB]
      ,[PercentBad]
      ,[PercentGood]
      ,[PercentNewBySMS]
	  ,[PercentPromo]
      ,[PercentNew]
      ,[PercentOSN]
      ,[PercentSkupka]
      ,[PercentPerezalog]
      ,[MaxBadPercentPerDay]
      ,[AVGBadPercentPerDay]
      ,[MinGoodPercentPerDay]
      ,[AVGGoodPercentPerDay]
      ,[AVGDneyZaloga]
      ,[AVGDneySProshZB]
      ,[AVGWeightGross]
      ,[AVGWeightNet]
      ,[AVGWeightNet999]
      ,[AVGWeightNotBrilliant]
      ,[AVGCostPerGram]
      ,[AVGCost]
      ,[MaxCost]
      ,[QntTreasury]
      ,[AVGPercentPerDay]
      ,[MINPercentPerDay]
      ,[MAXPercentPerDay]
      ,[OverPayAmount]
      ,[PercentAmount]
      ,[BadPercentPerDay]
      ,[GoodPercentPerDay]
      ,[DayDiff]
      ,[isGoodZB]
      ,BudetSledVisit
  FROM [Gold585].[dbo].[LombardCommon1ZB] a 
  Where IsOSN <2
  and IssueDate = (Select MAX(IssueDate) From [Gold585].[dbo].[LombardCommon1ZB] b
  where a.PartnerID = b.PartnerID and b.IssueDate < convert(datetime,'2018-06-01') and b.IsNew = 1)
  and IssueDate > convert(datetime,'2016-01-01')